
@{
    ViewBag.Title = "Index";
}

<h2>Administrative Index</h2>
<br />
@Html.ActionLink("Vehicle", "Vehicles", "Admin")
<br />
@Html.ActionLink("Add Vehicle", "AddVehicle", "Admin")
<br />
@Html.ActionLink("Users", "Users", "Admin")
<br />
@Html.ActionLink("Add User", "AddUser", "Admin")
<br />
@Html.ActionLink("Specials", "Specials", "Admin")

