@model CarMast.Models.ViewModels.InventoryViewModel

@{
    ViewBag.Title = "Inventory";
}

<h1>Inventory Report </h1>
<div class="col-md-4">
    <h1>New Vehicles</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Count</th>
                <th>Stock Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in Model.NewVehicles)
            {
                <tr>
                    <td>@vehicle.Year</td>
                    <td>@item.Model.MakeId</td>
                    <td>@item.Model</td>
                    <td>@item.Count</td>
                    <td>@item.StockValue</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-md-4">
    <h1>Used Vehicles</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Count</th>
                <th>Stock Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UsedVehicles)
            {
                <tr>
                    <td>@item.Year</td>
                    <td>@item.Make</td>
                    <td>@item.Model</td>
                    <td>@item.Count</td>
                    <td>@item.StockValue</td>
                </tr>
            }
        </tbody>
    </table>
</div>

