@model CarMast.Models.DataModels.Vehicle
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-12">
        <h1>Vehicle Details</h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <p>@Model.Year @Model.Model.Make.MakeDescription @Model.Model.ModelDescription</p>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="@Url.Content("~/Images/" + Model.ImageFileName)" />
                    </div>
                    <div class="col-md-3">
                        <label>Body Style:</label>
                        <p>@Model.BodyStlye.BodyStyleDescription</p>
                    </div>
                    <div class="col-md-3">
                        <label>Interior:</label>
                        <p>@Model.InteriorColor.InteriorColorDescription</p>
                    </div>
                    <div class="col-md-3">
                        <label>Sale Price:</label>
                        <p>@string.Format("{0:C0}", Model.SalePrice)</p>
                    </div>
                </div>               
                    <div class="col-md-3 offset-md-5">
                        <label>Trans:</label>
                        <p>@Model.Transmission.TransmissionType</p>
                    </div>
                    <div class="col-md-3">
                        <label>Mileage:</label>
                        <p>@Model.Mileage</p>
                    </div>
                    <div class="col-md-3">
                        <label>MSRP:</label>
                        <p>@string.Format("{0:C0}", Model.MSRP)</p>
                    </div>
                <br />
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <label>Color:</label>
                        <p>@Model.ExteriorColor.ExteriorColorDescription</p>
                    </div>
                    <div class="col-md-3">
                        <label>VIN #:</label>
                        <p>@Model.Vin</p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <label>Description:</label>
                        <p>@Model.VehicleDescription</p>
                    </div>
                </div>
                <br />
                @if (Model.SoldOut)
                {
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                            <label>Unavailable - Sold</label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                            <!--Put vin number in contact form-->
                            <a href="@Url.Action("Contact", "Home")" class="btn btn-default" id="contactButton">Contact Us</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
